name: Android Assemble Release (FREE)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install JS dependencies
        run: npm install

      - name: Grant execute permission to gradlew
        run: chmod +x android/gradlew

      - name: Build APK (assembleRelease)
        run: |
          cd android
          ./gradlew assembleRelease
